<% post.comments.each do |comment| %>
  <tbody>
    <tr>
      <td>
        <%= attachment_image_tag(comment.user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg") %>
        <br><%= comment.user.name %>
      </td>
      <td style="width: 80%;"><%= comment.comment %></td>
      <% if comment.user == current_user %>
        <td>
          <%= link_to 'Destroy', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true,  class: "btn btn-sm btn-danger" %>
        </td>
      <% end %>
    </tr>
  </tbody>
<% end %>