<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <p>
        ようこそ、Picturescueへ！
        <br>Picturescueはログイン制の画像投稿サイトです。
        <br>ご利用の際は、以下3点のルールを遵守してください。
        <br>①アダルトコンテンツを含んだ画像は投稿しないでください。
        <br>②攻撃的な発言やそれに類する発言をしないでください。
        <br>③自他の個人情報やそれにつながる情報を公開しないでください。
        <br>不適切な投稿やツイートは、管理者の判断により、無断で削除されることがあります。
        <br>ルールやマナーを守ってぜひ楽しんでください！
      </p>
    </div>
  </div>
</div>