<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <p>ようこそ、Picturescueへ！
        <br>Picturescueはログイン制の画像投稿サイトです。
        <br>ご利用の際は、以下3点のルールを遵守してください。</p>
        <p>①アダルトコンテンツを含んだ画像は投稿しないでください。</p>
        <p>②攻撃的な発言やそれに類する発言をしないでください。</p>
        <p>③自他の個人情報やそれにつながる情報を公開しないでください。</p>
        <p>これ以外の事情であっても、不適切な投稿やツイートは、管理者の判断により、無断で削除されることがあります。
        <br>ルールやマナーを守ってぜひ楽しんでください！</p>
      </p>
    </div>
  </div>
</div>